#{extends '/navigatable.html' /}
#{set title:'My Profile'/}

<div class="containerds-fluid col-lg-4 col-lg-offset-4 top10">
	#{form @Admin.createProfile()}
		
		<div class="containerds-fluid">
			<div class="form-group hidden">
				<input type="text" class="form-control" name="userId" value="${user?.id}"/>
			</div>
   			#{include 'Profiles/tags/showFormInputs.html'/}
			<div class="form-group col-lg-12">
      			<input type="submit" class="btn btn-primary "
      			name="Save" value="Save" /> 
   			</div>
		</div>
	#{/form}
</div>