<div class="form-inline top10">
	#{form @Users.authenticate()}
		<div class="row">
			<div class="form-group col-lg-5">
				<input type="text" name="email" class="form-control" placeholder= "Имэйл хаяг"/>
			</div>
			<div class="form-group col-lg-5">
				<input type="password" name="password" class="form-control" placeholder= "Нууц үг"/>
			</div>
			<div class="form-group col-lg-2">
				<input type="submit" class="btn btn-primary" id="signin" value="НЭВТРЭХ" />
			</div>
		</div>
	#{/form}
</div>